body{
	margin:0;
	padding:0;
	box-sizing: border-box;
	max-width: 1920px;
	height:100%;
	background: #333333;
	cursor:default;
}

header{
	background: url('img/Rectangle 3.png');
	height:900px;
	.open-menu{
		display: none;
	}

	nav{
		text-transform: uppercase;
		padding-top:51px;
		margin:0 auto 0;
		font-size: 18px;
		font-weight:700;
		font-family: 'Open Sans Condensed';
		color:white;
		list-style: none;
		align-items:center;
		max-width: 1130px;
		display: flex;
		justify-content: space-between;
		.navigation-list{
			list-style: none;
			padding:0;
			margin:0;

			max-width: 824px;
			width:100%;
			display: flex;
			justify-content: space-between;
			li{
				cursor: pointer;
			}
			li:hover{
				transform: scale(1.1,1.1);
			}
		}
		.number{
			position:relative;
			cursor:text;
		}
		.number::after{
			content:"";
			position:absolute;
			top:25px;
			left:0;
			width:100%;
			height:2px;
			background:#D1A954;

		}
		button.close-button{
			position:absolute;
			z-index:7;
			top:27px;
			left:235px;
			font-size: 38px;
			color:white;
			background: transparent;
			border:none;
			cursor:pointer;
		}
	}
	.main-block{
		max-width: 1035px;
		display: flex;
		justify-content:space-between;
		align-items:center;
		margin:90px auto 405px;
		.text-block{
			color:white;
			max-width: 530px;
			p{
				margin:0;
			}
			.theatre-name{
				text-transform: uppercase;
				font-family: 'Open Sans Condensed';
				font-weight:700;
				font-size:64px;
				letter-spacing: 0.1em;
			}
			.theatre-is{
				font-family: 'Open Sans';
				font-weight:400;
				font-size: 14px;
				line-height: 21px;
				color:white;
				margin:50px 0 49px;
			}
			button{
				cursor: pointer;
				color:white;
				text-transform: uppercase;
				font-family:'Open Sans Condensed';
				font-size:18px;
				padding:16px 47px 16px 47px;
				line-height: 24px;
				letter-spacing: 1px;
				text-align: center;
				font-weight:700;
				background: #D1A954;
				border:none;

			}
		}

	}
	.media-info{
		position:absolute;
		z-index: 4;
		top:0;
		width:150px;
		height:900px;
		.rectangle{
			position:absolute;
			z-index: 2;
			width:inherit;
			height:inherit;
			background:rgba(51, 51, 51, 0.75);
			top:0;
		}
		.content{
			position:absolute;
			z-index: 3;
			top:593px;
			left:60px;
			width:26px;
			height:576px;
			.text{
				transform: rotate(-90deg);
				text-transform: uppercase;
				margin:0 0 0 10px;
				color:#C4C4C4;
				font-family:'Open Sans Condensed';
				font-size:18px;
				line-height: 24px;
			}
			.icons{
				height:173px;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
			}
		}
	}
}
section.about-theatre{
	max-width: 1110px;
	margin:133px auto 0;
	p{
		margin:0;
	}
	.name{
		font-family: Open Sans Condensed;
		color:white;
		font-size: 48px;
		font-weight: 300;
		text-transform: uppercase;
		text-align: center;
		margin-bottom:100px;
		span{
			color:#D1A954;
		}
	}
	.content{
		max-width: inherit;
		display: flex;
		justify-content: space-between;
		vertical-align: center;
		.text{
			max-width: 445px;
			.header{
				font-family: Open Sans Condensed;
				font-style: normal;
				font-weight: bold;
				font-size: 21px;
				line-height: 29px;
				text-transform: uppercase;
				color:white;
				margin:0 0 40px 0;
			}
			.content-text{
				font-family: Open Sans;
				font-style: normal;
				font-weight: normal;
				font-size: 14px;
				line-height: 150%;
				color:white;
			}
		}
		.about-numbers{
			max-width: 255px;
			.header{
				font-family: Open Sans Condensed;
				font-style: normal;
				font-weight: bold;
				font-size: 21px;
				line-height: 29px;
				text-transform: uppercase;
				color:white;
				margin:0 0 40px 0;
			}
			.block1{
				margin-bottom:28px;
			}
			p{
				font-family: Open Sans Condensed;
				font-style: normal;
				font-weight: bold;
				font-size: 16px;
				line-height: 22px;
				color:white;
				span{
					color:#D1A954;
				}
			}
		}
	}
}
section.our-works{
	margin-top:133px;
	p{
		margin:0;
	}
	.name{
		font-family: Open Sans Condensed;
		color:white;
		font-size: 48px;
		font-weight: 300;
		text-transform: uppercase;
		text-align: center;
		margin-bottom: 85px;
		span{
			color:#D1A954;
		}	
	}
	.content{
		max-width: 1768px;
		display: flex;
		justify-content: space-between;
		margin:0 0 0 140px;

		.img{

			height:550px;
			width:442px;
			.text-top{
				font-family: 'Open Sans Condensed';
				font-style: normal;
				font-weight: bold;
				font-size: 24px;
				letter-spacing: 0.05em;
				text-transform: uppercase;
				color: #FFFFFF;

				margin: 31px 0 0 40px;
			}
			.text-bottom{
				font-family: 'Open Sans Condensed';
				font-style: normal;
				font-weight: bold;
				font-size: 18px;
				line-height: 25px;
				letter-spacing: 0.1em;
				text-transform: uppercase;
				color: #FFFFFF;


				margin: 425px 0 0 273px;
			}
		}
		.img:nth-child(1){
			background: url('img/Rectangle 15.png')
		}
		.img:nth-child(2){
			background: url('img/Rectangle 16.png')
		}
		.img:nth-child(3){
			background: url('img/Rectangle 15(1).png')
		}
		.img:nth-child(4){
			background: url('img/Rectangle 15(2).png')
		}

	}
}
section.under-our-works{
	width:1110px;
	height:550px;
	margin:150px auto 0;

	background: url('img/Rectangle 3.png');

	.content{
		max-width: 800px;
		display: flex;
		justify-content: space-between;
		align-items:center;
		margin: 126px auto 0;
		padding-top: 126px;
		.years{
			p{	
				font-family: 'Open Sans Condensed';
				font-style: normal;
				font-weight: bold;
				font-size: 72px;
				line-height: 98px;
				letter-spacing: 0.1em;
				text-transform: uppercase;
				color: #D1A954;
				margin:0 0 0.1em 0;
			}
		}
		.features{
			display: flex;
			max-height:245px;
			justify-content: space-between;
			flex-direction: column;
			.stars{
				margin-bottom:25px;
				img{
					width:26px;
					height:24px;
				}
			}
			.text{
				p{
					font-family: 'Open Sans';
					font-style: normal;
					font-weight: bold;
					font-size: 36px;
					line-height: 54px;
					color: #FFFFFF;

					margin:0 0 0.1em 0;
				}
			}
		}
	}
}
section.our-partners{
	margin-top: 133px;
	p{
		margin:0;
	}
	.name{
		font-family: 'Open Sans Condensed';
		color:white;
		font-size: 48px;
		font-weight: 300;
		text-transform: uppercase;
		text-align: center;
		margin-bottom: 85px;
		span{
			color:#D1A954;
		}	
	}
	.content{
		max-width: 1034px;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		img:not(first-child){
			margin-left:25px;
		}
		margin:0 auto 0;
	}
}
section.be-maecenas{
	position: relative;
	margin-top:133px;
	max-width: 1110px;
	margin:133px auto 0;
	p{
		margin:0;
	}
	.name{
		font-family: 'Open Sans Condensed';
		color:white;
		font-size: 48px;
		font-weight: 300;
		text-transform: uppercase;
		text-align: center;
		margin-bottom: 85px;
		span{
			color:#D1A954;
		}	
	}
	.content{
		max-width: inherit;
		display: flex;
		justify-content: space-between;

		margin:0 auto 0;
		.contacts{
			vertical-align: top;
			p{
				font-family: 'Open Sans Condensed';
				font-style: normal;
				font-weight: bold;
				font-size: 16px;
				line-height: 22px;
				letter-spacing: 0.05em;
				text-transform: uppercase;
				color: #FFFFFF;
			}
			p:not(last-child){
				margin-bottom:20px;
			}
		}
		.form{
			width: 730px;
			.fields{
				width:inherit;
				display: flex;
				justify-content: space-between;
				input{
					padding:13px 15px;
					font-size: 12px;
					background: #444444;
					color: #989898;
					border: 1px solid #616161;
					box-sizing: border-box;
					height: 35px;
					width:180px;
				}
				input:focus{
					color:white;
				}
				input:first-child{
					margin-bottom:30px;
				}
				textarea{
					padding:15px 0 0 15px;
					width:310px;
					height:82px;
					font-size: 12px;
					background: #444444;
					color: #989898;
					border: 1px solid #616161;

					resize:none;
				}
				textarea:focus{
					color:white;
				}
				div{
					max-height:100px;
					display: flex;
					flex-direction: column;
					justify-content: space-between;
				}
			}
			.button-message{
				margin-top:40px;
				max-width: 730px;
				display: flex;
				justify-content: space-between;
				p{
					font-family: 'Open Sans';
					font-style: normal;
					font-weight: normal;
					font-size: 12px;
					line-height: 150%;
					color: #989898;
					max-width: 390px;
				}
				button{
					cursor: pointer;
					color:white;
					text-transform: uppercase;
					font-family:'Open Sans Condensed';
					font-size:18px;
					padding:16px 47px 16px 47px;
					line-height: 24px;
					letter-spacing: 1px;
					text-align: center;
					font-weight:700;
					background: #D1A954;
					border:none;
				}

			}
		}
	}
}
section.be-maecenas::after{
	content: "";
	position: absolute;
	width:100%;
	height:2px;
	background:#565656;
	bottom: -82px;
}

footer{
	margin: 107px auto 17px;
	max-width: 1110px;
	p{
		font-family: 'Open Sans';
		font-style: normal;
		font-weight: normal;
		font-size: 12px;
		line-height: 150%;
		color: #989898;
		max-width: 390px;
	}
}




@media(max-width:1600px){
	header{
		nav{
			max-width: 572px;
			flex-wrap: wrap;
			justify-content: center;
			line-height:100px;
			.number::after{
				top:65px;
			}
		}
		.main-block{
			max-width: 600px;
			margin:90px auto 405px;
			.text-block{
				max-width: inherit;
				.theatre-name{font-size:72px;}
				.theatre-is{max-width: inherit;}
			}
			.photo-block{
				display: none;
			}
		}
	}
	section.our-works .content{
		.img:last-child{
			display: none;
		}
		.img{
			.text-bottom{margin: 425px 0 0 135px;
			}
		}
	}
}

@media(max-width: 1250px){
	section.about-theatre{
		max-width: 708px;
		.content{
			.picture{
				display: none;
			}
		}
	}
	section.our-works .content{
		max-width: 884px;
		margin: 0 0 0 365px;
		.img:nth-child(3){
			display: none;
		}
	}
	section.be-maecenas{
		max-width: 690px;
		.content{
			flex-direction: column-reverse;
			.contacts{
				margin-top:80px;
				display: flex;
				justify-content: space-between;
				.numbers{text-align: left;}
				.address{text-align: right;}
			}
			.form{
				max-width: inherit;
				.fields{
					max-width: inherit;
					textarea{
						width:250px;
					}
				}
			}
		}
	}
	section.our-partners{
		margin:150px auto 0;
		max-width: 800px;
		.content{
			img:last-child{display: none;}
			img:nth-child(5){display: none;}
		}
	}
	footer{
		max-width:690px;
	}
}
@media(max-width: 1000px){
	header{
		.main-block{
			text-align: center;
		}
	}
	section.under-our-works{
		.content{
			max-width:500px;
			padding-top:160px;
			.years{
				p{
					line-height: 65px;
					font-size: 50px;
				}
			}
			.features{
				.text{
					p{
						line-height: 45px;
						font-size: 25px;
					}
				}
			}
		}
	}
}
@media(max-width: 900px){
	header{
		height:800px;
		aside.media-info{
			display: none;
			max-width: 300px;
			width:100%;
			height:inherit;

			.rectangle{
				background: #333333;
			}
			.content{
				.text{
					display: none;
				}
			}
			.icons{
				margin: -105px 0 0 0;
				width:70px;
				height:30px;
				display: flex;
				flex-direction:row!important;
				justify-content: space-between;
				flex-wrap:wrap;
				img{
					width: 25px;
					height: 26px;
				}
			}
		}
		nav{
			padding:0;
			margin:0;
			font-size:24px;
			letter-spacing: 0.05em;
			ul.navigation-list{
				position: absolute;
				z-index:5;

				top: 98px;
				left:39px;

				display: none;
				max-width: 300px;
				flex-direction:column;

				li{
					cursor: pointer;
					margin: 0 0 -52px 0;
				}
				li:hover{
					transform: none;
				}
			}
			li.number{
				position: absolute;
				z-index: 5;
				top:14px;
				right:39px;
			}
		}
		.open-menu{
			cursor:pointer;
			position: absolute;
			top:25px;
			left:25px;
			display: block;
			background: transparent;
			border:none;
		}
		div.main-block{
			max-width: 600px;
			margin:190px auto 405px;
			.text-block{
				text-align: left;
				button{
					margin:0;
				}
			}
		}
	}
	section.about-theatre{
		max-width: 504px;
		.content{
			display: flex;
			flex-direction: column;
			text-align: center;
			.text{
				max-width: inherit;
			}
			.about-numbers{
				margin: 40px auto 0;
			}
		}
	}
	section.our-works{
		.content{
			max-width: 442px;
			margin:0 auto 140px;
			.img{display: none;}
			.img:first-child{display: block;}
		}
	}
	section.under-our-works{
		max-width: 100%;
		margin:150px auto 0;
	}
	section.our-partners{
		margin:150px auto 0;
		max-width: 600px;
		.content{
			img:nth-child(4){display: none;}
			img:nth-child(3){display: none;}
		}
	}
	section.be-maecenas{
		max-width:509px;
		.content{
			.contacs{
				margin-top: 50px;
			}
			.form{
				.fields{
					max-width:inherit;
					flex-wrap: wrap;
					margin:0 auto 0;
					input{
						width:230px;
					}	
					textarea{
						margin-top:28px;
						width:509px;
					}
				}
				.button-message{
					display: flex;
					flex-direction: column-reverse;
					p{
						max-width: 435px;
						text-align: center;
						margin: 27px auto 0px;
					}
					button{
						padding:10px 20px 10px 20px;
						width:190px;
						height:50px;
						margin: 1px auto 0;
					}
				}
			}
		}
	}
	section.be-maecenas::after{
		bottom: -40px;
	}
	footer{
		max-width: 509px;
		margin:75px auto 35px;
	}
}
@media(max-width: 700px){
	header{
		.main-block{
			.text-block{
				margin:0 auto 0;
				max-width: 450px;
				.theatre-name{
					text-align: left;
				}
			}
		}
	}
	section.our-partners{
		max-width: 450px;
	}
}
@media(max-width: 550px){
	header{
		height:600px;
		aside.media-info{
			.content{
				top: 520px;
				.icons{
					img{
						width: 25px;
						height: 26px;
					}
				}
			}
		}
		nav{
			li.number{
				font-size: 18px;
				top:0px;
				right:30px;
			}
		}
		.main-block{
			margin:160px auto 405px!important;
			.text-block{
				text-align: center;
				max-width: 300px;
				.theatre-name{
					text-align: right;
					font-size:35px;
				}
				.theatre-is{
					text-align: right;
				}
				button{
					font-size: 14px;
					padding:10px 20px 10px 20px;
					float:right;
				}
			}
		}
	}
	section.about-theatre{
		margin:100px auto 0;
		max-width: 300px;
		.name{
			margin-bottom: 30px;
		}
	}
	section.our-works{
		margin:100px auto 0;
		.name{
			margin-bottom: 30px;
		}
	}
	section.under-our-works{
		margin-top:-40px;
		height: 400px;
		.content{
			display: flex;
			flex-direction: column;
			max-width: 300px;
			padding:115px;
			.years{
				display: flex;
				max-width: inherit;
				p{
					margin-right:25px;
					font-size: 25px;
					line-height: 40px;
				}
				p::last-child{
					margin:0;
				}
			}
			.features{
				.stars{
					margin:0 auto 15px;
				}
				.text{
					p{
						text-align: center;
						font-size: 18px;
						line-height: 25px;
					}
				}
			}
		}
	}
	section.our-partners{
		margin:100px auto 0;
		max-width: 300px;
		.name{
			margin-bottom: 30px;
		}
		.content{
			img:nth-child(2){
				display: none;
			}
			img:nth-child(1){
				display: none;
			}
		}
	}
	section.be-maecenas{
		margin:100px auto 0;
		max-width: 300px;
		.name{
			margin-bottom: 30px;
		}
		.content{
			.form{
				margin: 0 auto 0;
				.fields{
					input,textarea{
						width:300px;
					}
					.column1{
						margin-bottom:29px;
					}
				}
			}
		}
	}
	footer{
		max-width:300px;
	}
}
@media(max-width: 450px){
	header{
		nav{
			ul.navigation-list{
				li{
					font-size: 18px;
					line-height: 100px;
				}
			}
		}
	}
	section.under-our-works{
		.content{
			padding-top:80px;
			.features{
				.text{
					font-size: 12px;
				}
				.stars{
					img:nth-child(6){
						display: none;
					}
					img:nth-child(5){
						display: none;
					}
				}
			}
		}
	}
}




// Necessary classes

.enable-menu{
	display:flex!important;
}
.enable-menu-field{
	display: block!important;
}
.disable-button{
	display: none!important;
}
.move-number{
	left:39px!important;
}
.move-number::after{
	content:none!important;
}