body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 1920px;
  height: 100%;
  background: #333333;
  cursor: default;
}

header {
  background: url("img/Rectangle 3.png");
  height: 900px;
}
header .open-menu {
  display: none;
}
header nav {
  text-transform: uppercase;
  padding-top: 51px;
  margin: 0 auto 0;
  font-size: 18px;
  font-weight: 700;
  font-family: 'Open Sans Condensed';
  color: white;
  list-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
header nav .navigation-list {
  list-style: none;
  padding: 0;
  margin: 0;
  max-width: 824px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
header nav .navigation-list li {
  cursor: pointer;
}
header nav .navigation-list li:hover {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
}
header nav .number {
  position: relative;
  cursor: text;
}
header nav .number::after {
  content: "";
  position: absolute;
  top: 25px;
  left: 0;
  width: 100%;
  height: 2px;
  background: #D1A954;
}
header nav button.close-button {
  position: absolute;
  z-index: 7;
  top: 27px;
  left: 235px;
  font-size: 38px;
  color: white;
  background: transparent;
  border: none;
  cursor: pointer;
}
header .main-block {
  max-width: 1035px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 90px auto 405px;
}
header .main-block .text-block {
  color: white;
  max-width: 530px;
}
header .main-block .text-block p {
  margin: 0;
}
header .main-block .text-block .theatre-name {
  text-transform: uppercase;
  font-family: 'Open Sans Condensed';
  font-weight: 700;
  font-size: 64px;
  letter-spacing: 0.1em;
}
header .main-block .text-block .theatre-is {
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: white;
  margin: 50px 0 49px;
}
header .main-block .text-block button {
  cursor: pointer;
  color: white;
  text-transform: uppercase;
  font-family: 'Open Sans Condensed';
  font-size: 18px;
  padding: 16px 47px 16px 47px;
  line-height: 24px;
  letter-spacing: 1px;
  text-align: center;
  font-weight: 700;
  background: #D1A954;
  border: none;
}
header .media-info {
  position: absolute;
  z-index: 4;
  top: 0;
  width: 150px;
  height: 900px;
}
header .media-info .rectangle {
  position: absolute;
  z-index: 2;
  width: inherit;
  height: inherit;
  background: rgba(51, 51, 51, 0.75);
  top: 0;
}
header .media-info .content {
  position: absolute;
  z-index: 3;
  top: 593px;
  left: 60px;
  width: 26px;
  height: 576px;
}
header .media-info .content .text {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  text-transform: uppercase;
  margin: 0 0 0 10px;
  color: #C4C4C4;
  font-family: 'Open Sans Condensed';
  font-size: 18px;
  line-height: 24px;
}
header .media-info .content .icons {
  height: 173px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section.about-theatre {
  max-width: 1110px;
  margin: 133px auto 0;
}
section.about-theatre p {
  margin: 0;
}
section.about-theatre .name {
  font-family: Open Sans Condensed;
  color: white;
  font-size: 48px;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 100px;
}
section.about-theatre .name span {
  color: #D1A954;
}
section.about-theatre .content {
  max-width: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  vertical-align: center;
}
section.about-theatre .content .text {
  max-width: 445px;
}
section.about-theatre .content .text .header {
  font-family: Open Sans Condensed;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 29px;
  text-transform: uppercase;
  color: white;
  margin: 0 0 40px 0;
}
section.about-theatre .content .text .content-text {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  color: white;
}
section.about-theatre .content .about-numbers {
  max-width: 255px;
}
section.about-theatre .content .about-numbers .header {
  font-family: Open Sans Condensed;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 29px;
  text-transform: uppercase;
  color: white;
  margin: 0 0 40px 0;
}
section.about-theatre .content .about-numbers .block1 {
  margin-bottom: 28px;
}
section.about-theatre .content .about-numbers p {
  font-family: Open Sans Condensed;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  color: white;
}
section.about-theatre .content .about-numbers p span {
  color: #D1A954;
}

section.our-works {
  margin-top: 133px;
}
section.our-works p {
  margin: 0;
}
section.our-works .name {
  font-family: Open Sans Condensed;
  color: white;
  font-size: 48px;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 85px;
}
section.our-works .name span {
  color: #D1A954;
}
section.our-works .content {
  max-width: 1768px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 0 0 140px;
}
section.our-works .content .img {
  height: 550px;
  width: 442px;
}
section.our-works .content .img .text-top {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 31px 0 0 40px;
}
section.our-works .content .img .text-bottom {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 425px 0 0 273px;
}
section.our-works .content .img:nth-child(1) {
  background: url("img/Rectangle 15.png");
}
section.our-works .content .img:nth-child(2) {
  background: url("img/Rectangle 16.png");
}
section.our-works .content .img:nth-child(3) {
  background: url("img/Rectangle 15(1).png");
}
section.our-works .content .img:nth-child(4) {
  background: url("img/Rectangle 15(2).png");
}

section.under-our-works {
  width: 1110px;
  height: 550px;
  margin: 150px auto 0;
  background: url("img/Rectangle 3.png");
}
section.under-our-works .content {
  max-width: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 126px auto 0;
  padding-top: 126px;
}
section.under-our-works .content .years p {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: bold;
  font-size: 72px;
  line-height: 98px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #D1A954;
  margin: 0 0 0.1em 0;
}
section.under-our-works .content .features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-height: 245px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
section.under-our-works .content .features .stars {
  margin-bottom: 25px;
}
section.under-our-works .content .features .stars img {
  width: 26px;
  height: 24px;
}
section.under-our-works .content .features .text p {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 54px;
  color: #FFFFFF;
  margin: 0 0 0.1em 0;
}

section.our-partners {
  margin-top: 133px;
}
section.our-partners p {
  margin: 0;
}
section.our-partners .name {
  font-family: 'Open Sans Condensed';
  color: white;
  font-size: 48px;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 85px;
}
section.our-partners .name span {
  color: #D1A954;
}
section.our-partners .content {
  max-width: 1034px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto 0;
}
section.our-partners .content img:not(first-child) {
  margin-left: 25px;
}

section.be-maecenas {
  position: relative;
  margin-top: 133px;
  max-width: 1110px;
  margin: 133px auto 0;
}
section.be-maecenas p {
  margin: 0;
}
section.be-maecenas .name {
  font-family: 'Open Sans Condensed';
  color: white;
  font-size: 48px;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 85px;
}
section.be-maecenas .name span {
  color: #D1A954;
}
section.be-maecenas .content {
  max-width: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto 0;
}
section.be-maecenas .content .contacts {
  vertical-align: top;
}
section.be-maecenas .content .contacts p {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #FFFFFF;
}
section.be-maecenas .content .contacts p:not(last-child) {
  margin-bottom: 20px;
}
section.be-maecenas .content .form {
  width: 730px;
}
section.be-maecenas .content .form .fields {
  width: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
section.be-maecenas .content .form .fields input {
  padding: 13px 15px;
  font-size: 12px;
  background: #444444;
  color: #989898;
  border: 1px solid #616161;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 35px;
  width: 180px;
}
section.be-maecenas .content .form .fields input:focus {
  color: white;
}
section.be-maecenas .content .form .fields input:first-child {
  margin-bottom: 30px;
}
section.be-maecenas .content .form .fields textarea {
  padding: 15px 0 0 15px;
  width: 310px;
  height: 82px;
  font-size: 12px;
  background: #444444;
  color: #989898;
  border: 1px solid #616161;
  resize: none;
}
section.be-maecenas .content .form .fields textarea:focus {
  color: white;
}
section.be-maecenas .content .form .fields div {
  max-height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
section.be-maecenas .content .form .button-message {
  margin-top: 40px;
  max-width: 730px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
section.be-maecenas .content .form .button-message p {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 150%;
  color: #989898;
  max-width: 390px;
}
section.be-maecenas .content .form .button-message button {
  cursor: pointer;
  color: white;
  text-transform: uppercase;
  font-family: 'Open Sans Condensed';
  font-size: 18px;
  padding: 16px 47px 16px 47px;
  line-height: 24px;
  letter-spacing: 1px;
  text-align: center;
  font-weight: 700;
  background: #D1A954;
  border: none;
}

section.be-maecenas::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: #565656;
  bottom: -82px;
}

footer {
  margin: 107px auto 17px;
  max-width: 1110px;
}
footer p {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 150%;
  color: #989898;
  max-width: 390px;
}

@media (max-width: 1600px) {
  header nav {
    max-width: 572px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    line-height: 100px;
  }
  header nav .number::after {
    top: 65px;
  }
  header .main-block {
    max-width: 600px;
    margin: 90px auto 405px;
  }
  header .main-block .text-block {
    max-width: inherit;
  }
  header .main-block .text-block .theatre-name {
    font-size: 72px;
  }
  header .main-block .text-block .theatre-is {
    max-width: inherit;
  }
  header .main-block .photo-block {
    display: none;
  }

  section.our-works .content .img:last-child {
    display: none;
  }
  section.our-works .content .img .text-bottom {
    margin: 425px 0 0 135px;
  }
}
@media (max-width: 1250px) {
  section.about-theatre {
    max-width: 708px;
  }
  section.about-theatre .content .picture {
    display: none;
  }

  section.our-works .content {
    max-width: 884px;
    margin: 0 0 0 365px;
  }
  section.our-works .content .img:nth-child(3) {
    display: none;
  }

  section.be-maecenas {
    max-width: 690px;
  }
  section.be-maecenas .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  section.be-maecenas .content .contacts {
    margin-top: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  section.be-maecenas .content .contacts .numbers {
    text-align: left;
  }
  section.be-maecenas .content .contacts .address {
    text-align: right;
  }
  section.be-maecenas .content .form {
    max-width: inherit;
  }
  section.be-maecenas .content .form .fields {
    max-width: inherit;
  }
  section.be-maecenas .content .form .fields textarea {
    width: 250px;
  }

  section.our-partners {
    margin: 150px auto 0;
    max-width: 800px;
  }
  section.our-partners .content img:last-child {
    display: none;
  }
  section.our-partners .content img:nth-child(5) {
    display: none;
  }

  footer {
    max-width: 690px;
  }
}
@media (max-width: 1000px) {
  header .main-block {
    text-align: center;
  }

  section.under-our-works .content {
    max-width: 500px;
    padding-top: 160px;
  }
  section.under-our-works .content .years p {
    line-height: 65px;
    font-size: 50px;
  }
  section.under-our-works .content .features .text p {
    line-height: 45px;
    font-size: 25px;
  }
}
@media (max-width: 900px) {
  header {
    height: 800px;
  }
  header aside.media-info {
    display: none;
    max-width: 300px;
    width: 100%;
    height: inherit;
  }
  header aside.media-info .rectangle {
    background: #333333;
  }
  header aside.media-info .content .text {
    display: none;
  }
  header aside.media-info .icons {
    margin: -105px 0 0 0;
    width: 70px;
    height: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  header aside.media-info .icons img {
    width: 25px;
    height: 26px;
  }
  header nav {
    padding: 0;
    margin: 0;
    font-size: 24px;
    letter-spacing: 0.05em;
  }
  header nav ul.navigation-list {
    position: absolute;
    z-index: 5;
    top: 98px;
    left: 39px;
    display: none;
    max-width: 300px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header nav ul.navigation-list li {
    cursor: pointer;
    margin: 0 0 -52px 0;
  }
  header nav ul.navigation-list li:hover {
    -webkit-transform: none;
            transform: none;
  }
  header nav li.number {
    position: absolute;
    z-index: 5;
    top: 14px;
    right: 39px;
  }
  header .open-menu {
    cursor: pointer;
    position: absolute;
    top: 25px;
    left: 25px;
    display: block;
    background: transparent;
    border: none;
  }
  header div.main-block {
    max-width: 600px;
    margin: 190px auto 405px;
  }
  header div.main-block .text-block {
    text-align: left;
  }
  header div.main-block .text-block button {
    margin: 0;
  }

  section.about-theatre {
    max-width: 504px;
  }
  section.about-theatre .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  section.about-theatre .content .text {
    max-width: inherit;
  }
  section.about-theatre .content .about-numbers {
    margin: 40px auto 0;
  }

  section.our-works .content {
    max-width: 442px;
    margin: 0 auto 140px;
  }
  section.our-works .content .img {
    display: none;
  }
  section.our-works .content .img:first-child {
    display: block;
  }

  section.under-our-works {
    max-width: 100%;
    margin: 150px auto 0;
  }

  section.our-partners {
    margin: 150px auto 0;
    max-width: 600px;
  }
  section.our-partners .content img:nth-child(4) {
    display: none;
  }
  section.our-partners .content img:nth-child(3) {
    display: none;
  }

  section.be-maecenas {
    max-width: 509px;
  }
  section.be-maecenas .content .contacs {
    margin-top: 50px;
  }
  section.be-maecenas .content .form .fields {
    max-width: inherit;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 auto 0;
  }
  section.be-maecenas .content .form .fields input {
    width: 230px;
  }
  section.be-maecenas .content .form .fields textarea {
    margin-top: 28px;
    width: 509px;
  }
  section.be-maecenas .content .form .button-message {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  section.be-maecenas .content .form .button-message p {
    max-width: 435px;
    text-align: center;
    margin: 27px auto 0px;
  }
  section.be-maecenas .content .form .button-message button {
    padding: 10px 20px 10px 20px;
    width: 190px;
    height: 50px;
    margin: 1px auto 0;
  }

  section.be-maecenas::after {
    bottom: -40px;
  }

  footer {
    max-width: 509px;
    margin: 75px auto 35px;
  }
}
@media (max-width: 700px) {
  header .main-block .text-block {
    margin: 0 auto 0;
    max-width: 450px;
  }
  header .main-block .text-block .theatre-name {
    text-align: left;
  }

  section.our-partners {
    max-width: 450px;
  }
}
@media (max-width: 550px) {
  header {
    height: 600px;
  }
  header aside.media-info .content {
    top: 520px;
  }
  header aside.media-info .content .icons img {
    width: 25px;
    height: 26px;
  }
  header nav li.number {
    font-size: 18px;
    top: 0px;
    right: 30px;
  }
  header .main-block {
    margin: 160px auto 405px !important;
  }
  header .main-block .text-block {
    text-align: center;
    max-width: 300px;
  }
  header .main-block .text-block .theatre-name {
    text-align: right;
    font-size: 35px;
  }
  header .main-block .text-block .theatre-is {
    text-align: right;
  }
  header .main-block .text-block button {
    font-size: 14px;
    padding: 10px 20px 10px 20px;
    float: right;
  }

  section.about-theatre {
    margin: 100px auto 0;
    max-width: 300px;
  }
  section.about-theatre .name {
    margin-bottom: 30px;
  }

  section.our-works {
    margin: 100px auto 0;
  }
  section.our-works .name {
    margin-bottom: 30px;
  }

  section.under-our-works {
    margin-top: -40px;
    height: 400px;
  }
  section.under-our-works .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 300px;
    padding: 115px;
  }
  section.under-our-works .content .years {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: inherit;
  }
  section.under-our-works .content .years p {
    margin-right: 25px;
    font-size: 25px;
    line-height: 40px;
  }
  section.under-our-works .content .years p::last-child {
    margin: 0;
  }
  section.under-our-works .content .features .stars {
    margin: 0 auto 15px;
  }
  section.under-our-works .content .features .text p {
    text-align: center;
    font-size: 18px;
    line-height: 25px;
  }

  section.our-partners {
    margin: 100px auto 0;
    max-width: 300px;
  }
  section.our-partners .name {
    margin-bottom: 30px;
  }
  section.our-partners .content img:nth-child(2) {
    display: none;
  }
  section.our-partners .content img:nth-child(1) {
    display: none;
  }

  section.be-maecenas {
    margin: 100px auto 0;
    max-width: 300px;
  }
  section.be-maecenas .name {
    margin-bottom: 30px;
  }
  section.be-maecenas .content .form {
    margin: 0 auto 0;
  }
  section.be-maecenas .content .form .fields input, section.be-maecenas .content .form .fields textarea {
    width: 300px;
  }
  section.be-maecenas .content .form .fields .column1 {
    margin-bottom: 29px;
  }

  footer {
    max-width: 300px;
  }
}
@media (max-width: 450px) {
  header nav ul.navigation-list li {
    font-size: 18px;
    line-height: 100px;
  }

  section.under-our-works .content {
    padding-top: 80px;
  }
  section.under-our-works .content .features .text {
    font-size: 12px;
  }
  section.under-our-works .content .features .stars img:nth-child(6) {
    display: none;
  }
  section.under-our-works .content .features .stars img:nth-child(5) {
    display: none;
  }
}
.enable-menu {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.enable-menu-field {
  display: block !important;
}

.disable-button {
  display: none !important;
}

.move-number {
  left: 39px !important;
}

.move-number::after {
  content: none !important;
}

/*# sourceMappingURL=style.css.map */